/* src/pages/article.css */

.article-page-container {
    max-width: 90%;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-page-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.article-page-title {
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
}

.article-page-description {
    font-size: 1.5em;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

.article-page-body {
    font-size: 1.2em;
    line-height: 1.8;
    color: #444444;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    white-space: pre-line;
    word-wrap: break-word;
    tab-size: 4;
    -moz-tab-size: 4;
}

.review-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF5733;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-btn:hover {
    background-color: #bf3011;
}

.error {
    color: #dc3545;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.approved-section {
    margin: 20px auto;
    max-width: 90%;
    background-color: #28a745;
    color:#fafafa;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reviews-section {
    margin: 40px auto;
    max-width: 90%;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-review-container {
    display: flex;
    justify-content: space-between;
}

/* Fiecare review individual */
.review-container {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #FF5733;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.in-progress {
    border-left: 5px solid #FFC300;
}

.closed {
    border-left: 5px solid #28a745;
}

.review-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Titlul review-ului */
.review-header {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

/* Textul principal al review-ului */
.review-comment {
    font-size: 1.1em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 10px;
}

.review-author {
    font-style: italic;
    font-size: 0.9em;
    color: #555;
    margin: 2px 0;
}

.review-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .approve-btn,
  .reject-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .approve-btn {
    background-color: #28a745; /* verde */
    color: #fff;
  }
  
  .approve-btn:hover {
    background-color: #218838; /* verde mai închis */
  }
  
  .reject-btn {
    background-color: #dc3545; /* roșu */
    color: #fff;
  }
  
  .reject-btn:hover {
    background-color: #c82333; /* roșu mai închis */
  }

  .approve-article-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .approve-article-btn:hover {
    background-color: #218838; /* verde mai închis */
  }

  .review-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .review-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    text-align: center;
    color: white;
    border-radius: 30px;
    height: min-content;
  }

  .status-text {
    font-size: 12px;
  }

  .status-progress {
    background-color: #FFC300;
  }

  .status-opened {
    background-color: #FF5733;
  } 

  .status-closed {
    background-color: #28a745;
  }